header {
  /* display: flex; */
  /* width: 1200px; */
}
.form {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* gap: 8px; */

  /* width: 300px; */
  padding: 8px;
}
label {
  margin: 0;
  padding: 0;
}
input[type="text"] {
  width: 100%;
}
.form-element {
  width: 97%;
}

.search-container {
  position: relative;
  width: 100%; /*300px;*/
  margin: 0 auto; /* Center the container */
}
/* input.Search */
.input-container {
  position: relative;
  /* width: 300px; */
}
.search-input {
  width: 100%;
  padding: 10px 10px 10px 30px;
  padding-right: 30px; /* Add padding to avoid text overlap with clear icon */
  box-sizing: border-box;
}
input {
  width: 100%;
  padding: 10px 10px 10px 30px;
  box-sizing: border-box;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: gray;
}

/* input.Search */

.search-icon {
  left: 10px;
}
.search-icon:hover {
  color: blue;
}

.clear-icon {
  right: 10px;
}
.clear-icon:hover {
  color: #000;
}

.btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  /* color: gray; */
  /* pointer: cursor; */
}
